[submodule "third_party/cordova-android"]
	path = third_party/cordova-android
	url = https://github.com/apache/cordova-android.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = git@github.com:totalpaveinc/sqlite.git
